<!DOCTYPE html>
<html>
<head>
	<title>Expenses</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../css/expense.css">
	<style>
		
	</style>
</head>
<body>
	<h1>Expenses</h1>
	
	<div id="addExpenseHere"></div>
	
	<!-- <div id="leaderboard">
		Leaderboard
	</div>
	<div id="leaderboard-text">
		Here you can view the top spenders of the month
	</div>
	
	<div style="clear:both;"></div> -->
	
	<button type="button" id="premiumButton" class="btn btn-outline-primary position-fixed top-0 end-0 m-3"></button>
	  
	<form id="expenseFormId" class="form-container" onsubmit="expense(event)">
		<label for="amount">Amount:</label>
		<input type="text" id="amount" name="amount" required>
		<label for="description">Description:</label>
		<input type="text" id="description" name="description">
		<label for="category">Category:</label>
		<select id="myDropdown" name="category">
			<option value="food">Food</option>
			<option value="travel">Travel</option>
			<option value="shopping">Shopping</option>
		</select>
		<button type="submit">Add Expense</button>
		<!-- <p id="expenseError"></p> -->
	</form>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="../js/expense.js"></script>

	<span id="premiumAccount" class="position-fixed top-0 end-0 m-3"></span>
</body>
</html>
