<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="../css/signUp.css">
</head>
<body>
	<h1>Sign Up</h1>
	<form id="signUpFormId" onsubmit="createUser(event)">
		<label for="userName">User Name:</label>
		<input type="text" id="userName" name="userName" required><br><br>
		<label for="email">Email:</label>
		<input type="email" id="email" name="email" required><br><br>
		<label for="phoneNumber">Phone Number:</label>
		<input type="tel" id="phoneNumber" name="phoneNumber" required><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required><br><br>
		<input type="submit" value="Sign Up">
		<p>Existing User? <a href="./login.html">Log In</a></p>
	</form>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="../js/frontend.js"></script>
</body>
</html>
